# Dependencies
node_modules/

# Puppeteer indirir bunu otomatik
.local-chromium/
.cache/

# Loglar
*.log
npm-debug.log*

# Ortam değişkenleri
.env
.env.local

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.swp
